# pip install -r requirements.txt

# base ----------------------------------------

matplotlib
numpy>=1.18.0
opencv-python
requests>=2.23.0
scipy
tensorboard
tensorboardX>=2.1,<=2.2
torch>=1.7.0
torchvision>=0.8.1
gym==0.20.0
pyglet>=1.4.0

# plotting ------------------------------------

#pandas>=1.1.4
seaborn